<div class="m-5">
    <p><a href="/api/build/types">/api/build/types</a></p>
    <p><a href="/api/part/categories">/api/part/categories</a></p>
    <p><a href="/api/builds/complete">/api/builds/complete</a></p>
    <p><a href="/api/parts/all">/api/parts/all</a></p>
    <p><a href="/api/customers/all">/api/customers/all</a></p>
</div>