<div class="container mt-5 z-depth-2 pt-3 pb-1 blue-grey darken-4 rounded">
    <table class="table table-striped table-borderless blue-grey darken-1 text-white rounded">
        <thead>
            <tr>
                <th scope="col">Part Type</th>
                <th scope="col">Name</th>
                <th scope="col">Cost(USD)</th>
            </tr>
        </thead>
        <tbody>
            {{#each pcBuild}}
            <tr>
                <th scope="row">{{Component}}</th>
                <td>{{Selection}}</td>
                <td>{{Price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>