<!-- Jumbotron -->
    <div class="card card-image" style="background-image: url(http://localhost:8080/images/rafael-pol-474017-unsplash.jpg); background-size: cover; height: 100vh;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4 d-inline d-flex align-items-center" style="height: 100vh;">
            <div class="py-5 align-middle">

                <!-- Content -->
                <h5 class="h5 orange-text mb-5 mt-5"></i>Build-A-PC</h5>
                <h2 class="card-title h2 my-4 py-2 mb-5 mt-5">We're here to help you find the right computer.</h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5 mb-5 mt-5">We know that building your own PC can be a scary thought. We're
                    here to help you along the way. Our curated list of PC builds is sure to help anyone feel at ease
                    in the part selection process. You can also use our easy to follow build guides to overcome your
                    fears of putting together your parts. We also know that building a pc is not for everyone. That is
                    why we also have a list of trusted retailers that you can use to get your own pre-built system. Our
                    mission is to help everyone find the perfect PC.</p>
                <a class="btn peach-gradient mb-5 mt-5"><i class="fas fa-clone left"></i>Signup</a>

            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <div class="container mt-5 text-center">
        <h1 class="mb-3">Featured Builds</h2>
        <!-- Card deck -->
        <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">$400.00 Build</h4>
                    <!--Text-->
                    <p class="card-text">A great PC for those on a tight budget.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">$800.00 Build</h4>
                    <!--Text-->
                    <p class="card-text">A nice build with a modest budget.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Insane Build</h4>
                    <!--Text-->
                    <p class="card-text">Throw that budget out, and get the best money can buy.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Card deck -->
    </div>