<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(http://localhost:8080/images/rafael-pol-474017-unsplash.jpg); background-size: cover; height: 100vh;">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4 d-inline d-flex align-items-center" style="height: 100vh;">
        <div class="py-5 align-middle">

            <!-- Content -->
            <h5 class="h5 orange-text mb-5 mt-5"></i>Build-A-PC</h5>
            <h2 class="card-title h2 my-4 py-2 mb-5 mt-5">We're here to help you find the right computer.</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5 mb-5 mt-5">We know that building your own PC can be a scary thought.
                We're
                here to help you along the way. Our curated list of PC builds is sure to help anyone feel at ease
                in the part selection process. You can also use our easy to follow build guides to overcome your
                fears of putting together your parts. We also know that building a pc is not for everyone. That is
                why we also have a list of trusted retailers that you can use to get your own pre-built system. Our
                mission is to help everyone find the perfect PC.</p>
            <a class="btn peach-gradient mb-5 mt-5"><i class="fas fa-clone left"></i>Signup</a>

        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="mt-5 text-center">
    <h1 class="mb-3">Featured Builds</h1>
    <div class="row">
        
        <div class="col-md-1"></div>
        <div class="view col-md-3">
            <img src="{{image_url}}" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-stylish-light">
                <p class="white-text">strong overlay</p>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="view col-md-3">
            <img src="{{image_url}}" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-stylish-light">
                <p class="white-text">strong overlay</p>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="view col-md-3">
            <img src="{{image_url}}" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-stylish-light">
                <p class="white-text">strong overlay</p>
            </div>
        </div>
    </div>
</div>