<div class="container">
    <div class="card m-5 grey lighten-4">
        <div class="card-body">
            <form action="/signup" method="post" id="signup">
                <p class="h4 text-center py-4">Sign up</p>
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="user-name" class="form-control" name="userName">
                    <label for="user-name" class="font-weight-light">User Name</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="email" class="form-control" name="email">
                    <label for="email" class="font-weight-light">Your email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="password" class="form-control" name="password">
                    <label for="password" class="font-weight-light">Your password</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm">
                    <label for="passwordConfirm" class="font-weight-light">Confirm password</label>
                </div>

                <div class="text-center py-4 mt-3">
                    <button class="btn peach-gradient text-dark btn-block" type="submit">Register</button>
                </div>

            </form>
            <p>Already a member? <a href="{{login}}">login</a></p>
            <p><a href="{{home}}">Home</a></p>
        </div>
    </div>
</div>